/**
 * online三国杀
 * author:liukesen
 * data: 2019.5.7
 */
.warp {
  padding-top: 40px;
  width: 100%;
  height: auto;
  min-width: 1050px;
  max-width: 1920px;
  background: url("../image/back-home.jpg") top center no-repeat;

  .main {
    width: 1280px;
    margin: 0 auto;

    .contain {
      display: -webkit-box;
      display: -ms-flexbox;
      margin: 0 0 15px 0;
      height: 300px;

      &:first-child {
        margin-top: 340px;
      }

      .con-left {
        margin-right: 15px;

        //开始游戏
        .con-z-bottom {
          padding: 15px;
          text-align: center;
          background: #fff;

          .content-icon {
            margin: 0 auto;
            width: 120px;
            height: 20px;
            background-image: url("../image/Icon-all.png");
            background-position: 290px 50px;
            display: block;
          }

          .register {
            .user-icon {
              background-position: -466px -359px;
              -webkit-transition: margin-bottom 0.5s;
              transition: margin-bottom 0.5s;

              &:hover {
                margin-bottom: 10px;
              }
            }
          }

          .xinSh {
            .user-icon {
              background-position: -466px -331px;
              -webkit-transition: margin-bottom 0.5s;
              transition: margin-bottom 0.5s;

              &:hover {
                margin-bottom: 10px;
              }
            }
          }

          a {
            font-size: 1.2em;
            font-weight: 1000;
            font-family: "仿宋";
            line-height: 50px;
          }
        }

        //二维码
        .QRCode {
          margin-bottom: 20px;
        }

        //下载div
        .download {
          background: #333;
          padding: 16px;

          .user-icon_xz {
            background-position: -494px -331px;
            margin: 0 auto 10px auto;
            display: block;
          }

          .icon-icon_do {
            background-position: -69px -341px;
            width: 109px;
            height: 30px;
            margin: 0 auto;
            display: block;
          }

          a {
            text-align: center;

            p:first-child {
              font-size: 0.6em;
              font-weight: bold;
            }
          }
        }

        .link {
          overflow: hidden;
          background: #333;
          width: 187px;
          li {
            width: 93.5px;
            border-right: 1px solid #4a4a4a;
            height: 99px;
            border-top: 1px solid #4a4a4a;
            float: left;
            a {
              display: block;
              height: 100px;
              text-align: center;
              padding-top: 12px;
              i,
              em {
                display: inline-block;
                vertical-align: middle;
              }
              i {
                transition: transform 0.4s;
              }
              em {
                position: relative;
                top: -25px;
              }
              .user-icon_link1 {
                background-position: -202px -266px;
                width: 59px;
                height: 59px;
              }
              .user-icon_link2 {
                background-position: 0 -341px;
                width: 59px;
                height: 59px;
              }
              .user-icon_link3 {
                background-position: -340px -266px;
                width: 59px;
                height: 59px;
              }
              .user-icon_link4 {
                background-position: -271px -266px;
                width: 59px;
                height: 59px;
              }
              .user-icon_link5 {
                background-position: -64px -266px;
                width: 59px;
                height: 59px;
              }
              .user-icon_link6 {
                background-position: -133px -266px;
                width: 59px;
                height: 59px;
              }
              .user-icon_text1 {
                background-position: -361px -341px;
                width: 57px;
                height: 16px;
              }
              .user-icon_text2 {
                background-position: -313px -466px;
                width: 57px;
                height: 15px;
              }
              .user-icon_text3 {
                background-position: -466px -254px;
                width: 43px;
                height: 16px;
              }
              .user-icon_text4 {
                background-position: -388px -96px;
                width: 57px;
                height: 16px;
              }
              .user-icon_text5 {
                background-position: -245px -466px;
                width: 58px;
                height: 15px;
              }
              .user-icon_text6 {
                background-position: -178px -466px;
                width: 57px;
                height: 16px;
              }
            }
          }
          li:nth-child(even) {
            border-right: none;
          }
        }

        //快捷导航
        .quick {
          background: #373737;
          .topic {
            background: #fff;
            .user-icon_quick {
              background-position: 0 0;
              width: 187px;
              height: 53px;
            }
          }
          .bars {
            overflow: hidden;
            background: #333;
            width: 187px;
            li {
              padding-top: 30px;
              width: (187px-1)/2;
              text-align: center;
              float: left;
              border-right: 1px solid#857366;
              border-bottom: 1px solid #857366;
              &:nth-child(even) {
                border-right: none;
              }
              &:hover {
                background: rgb(44, 44, 44);
              }
              a {
                position: relative;
                .user-icon_bar1 {
                  background-position: -333px -191px;
                  width: 56px;
                  height: 65px;
                }
                .user-icon_bar2 {
                  background-position: 0 -191px;
                  width: 57px;
                  height: 65px;
                }
                .user-icon_bar3 {
                  background-position: -267px -191px;
                  width: 56px;
                  height: 65px;
                }
                .user-icon_bar4 {
                  background-position: 0 -266px;
                  width: 54px;
                  height: 65px;
                }
                .user-icon_bar5 {
                  background-position: -134px -191px;
                  width: 57px;
                  height: 65px;
                }
                .user-icon_bar6 {
                  background-position: -67px -191px;
                  width: 57px;
                  height: 65px;
                }
                .user-icon_bar7 {
                  background-position: -399px -191px;
                  width: 56px;
                  height: 65px;
                }
                .user-icon_bar8 {
                  background-position: -201px -191px;
                  width: 56px;
                  height: 65px;
                }
                i {
                  display: block;
                  z-index: 1;
                  width: 54px;
                  height: 54px;
                  background: url("../image/gen.png") -163px -268px no-repeat;
                  position: absolute;
                  left: 2px;
                  top: -43px;
                  -webkit-transition: -webkit-transform 0.4s ease-out;
                  -moz-transition: -moz-transform 0.4s ease-out;
                  transition: transform 0.4s ease-out;
                }
                .user-icon_bar_hover {
                  transform: rotate(360deg);
                }
              }
            }
          }
          .code {
            padding: 30px 0;
            img {
              display: block;
              margin: 0 auto;
            }
          }
        }
      }

      $conMid: 740px;

      .con-mid {
        position: relative;
        width: $conMid;
        overflow: hidden;

        .lun-boNav {
          left: 0;
          width: $conMid * 5;
          height: 100%;
          position: absolute;
          -webkit-transition: left 0.5s;
          transition: left 0.5s;

          .lb-image {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
          }
        }

        .lb-page {
          position: absolute;
          bottom: 0;
          width: $conMid;
          height: 30px;
          background-color: rgba($color: #000000, $alpha: 0.9);
          z-index: 2;
          cursor: pointer;

          @function lbLiPain($i) {
            @return (($i)- (56px * 5))/10;
          }

          li {
            float: left;
            padding: 6px lbLiPain($conMid);
            font-size: 14px;
            color: #8c8c8c;
          }

          .page-on {
            background-color: rgba($color: #857366, $alpha: 0.9);
            color: #fff;
            transition: background 0.3s;
          }
        }

        //第二行的contain 游戏资讯
        .cm-z-left {
          width: 740px-174-16;
          background: #fff;
          padding: 0 20px;
          float: left;
          height: 300px;

          .zx-top {
            padding-top: 25px;
            border-bottom: 1px solid #dfdfdf;

            .user-icon_news {
              background-position: -109px -437px;
              width: 107px;
              height: 17px;
            }
          }
          .zx-bottom {
            margin-top: 20px;
            .hd {
              display: flex;
              li {
                float: left;
                a {
                  float: left;
                  width: ((540px-30)/4)-1;
                  text-align: center;
                  font-size: 0.9em;
                }
                em {
                  width: 1px;
                  height: 10px;
                  background: #dfdfdf;
                  float: left;
                  margin-top: 10px;
                }
              }
            }
            .zx-title {
              height: 22px;
              background: url("../image/zx-title.jpg") no-repeat;
              padding-left: 100px;
              padding-right: 15px;
              line-height: 22px;
              overflow: hidden;
              font-weight: bold;
              margin: 10px 0 11px 2px;
              a {
                font-size: 1em;
                font-family: "";
              }
            }
            .bd {
              dl {
                dd {
                  line-height: 23px;
                  height: 23px;
                  a {
                    font-size: 0.8em;
                    letter-spacing: 1px;
                    overflow: hidden;

                    .bd-name {
                      float: left;
                    }
                    .bd-time {
                      float: right;
                    }
                  }
                }
              }
            }
          }
        }

        //同上 新手指引
        .cm-z-right {
          height: 300px;
          width: 174px;
          position: relative;
          overflow: hidden;
          margin-left: 16px;
          background: url("../image/xinshou.jpg") no-repeat;
          float: right;
        }

        //第三行的  卡片
        .kapai {
          .bd {
            .general-tab {
              position: absolute;
              top: 0;
              width: 740px;
              height: 300px;
              background: #fff;
              transition: opacity 0.3s;
              .general-img {
                float: right;
              }
              .general-info {
                margin: 120px 0 0 30px;
                width: 350px;
                float: left;
                h4 {
                  color: #a69280;
                  border-bottom: 1px solid #a69280;
                  span {
                    padding-bottom: 3px;
                    border-bottom: 2px solid #857366;
                  }
                }
                p {
                  padding-top: 10px;
                  font-size: 0.9em;
                }
              }
            }
          }
          .hd {
            position: absolute;
            top: 30px;
            left: 25px;
            li {
              width: 70px;
              height: 70px;
              float: left;
              margin-right: 5px;
              background: url("../image/gen.png") 0 0 no-repeat;
              cursor: pointer;
              transition: background 0.3s;
            }
            .gen2 {
              background-position: -75px 0;
            }
            .gen3 {
              background-position: -150px 0;
            }
            .gen4 {
              background-position: -225px 0;
            }
            .gen5 {
              background-position: -300px 0;
            }
            .gen1.genOn,
            .gen1:hover {
              background-position: 0 -70px;
            }
            .gen2.genOn,
            .gen2:hover {
              background-position: -75px -70px;
            }
            .gen3.genOn,
            .gen3:hover {
              background-position: -150px -70px;
            }
            .gen4.genOn,
            .gen4:hover {
              background-position: -225px -70px;
            }
            .gen5.genOn,
            .gen5:hover {
              background-position: -300px -70px;
            }
          }
        }
      }

      .con-right {
        position: relative;
        margin-left: 15px;
        height: 100%;
        width: 25%;
        .c-r-bottom,
        .c-r-top {
          height: (300px-15)/2;
          a {
            width: 100%;
            height: 100%;
            display: block;
          }
        }
        .c-r-top {
          margin-bottom: 15px;
          background-image: url("../../assets/image/lb-left-t.jpg");
        }
        .c-r-bottom {
          background-image: url("../../assets/image/lb-left-b.png");
        }
        .bd {
          position: relative;
          width: 319px;
          height: 300px;
          p {
            position: absolute;
            width: 319px;
            height: 300px;
            left: 0px;
            top: 0px;
            transition: opacity 0.2s;

            img {
              width: 100%;
              height: 300px;
            }
          }
        }
        .hd {
          position: absolute;
          overflow: hidden;
          top: 33px;
          right: 21px;
          width: 41px;
          li {
            width: 41px;
            height: 41px;
            cursor: pointer;
            margin-bottom: 6px;
            background: url("../image/identity.png") 0 0 no-repeat;
            transition: background 0.1s;
          }
          .play2 {
            background-position: 0 -47px;
          }
          .play3 {
            background-position: 0 -95px;
          }
          .play4 {
            background-position: 0 -143px;
          }
          .playOn {
            background-position-x: -41px;
          }
        }
        .games {
          width: 336px;
          height: 300px;
          li {
            width: (336px/2-15);
            height: (300px/2-7.5);
            background: #fff;
            float: left;
            margin-right: 15px;
            margin-bottom: 15px;
            text-align: center;
            position: relative;
            overflow: hidden;
            position: relative;

            .gameBack::before {
              content: " ";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 1;
              background: transparent;
              transform: translateY(142.5px);
            }
            .gameTran::before {
              background: #b3a293;
              transform: translateY(0);
              transition: transform 0.3s;
            }
            a {
              display: block;
              width: 100%;
              height: 100%;
              .user-icon_game1 {
                background-position: -466px -58px;
                width: 47px;
                height: 48px;
              }
              .user-icon_game2 {
                background-position: -466px 0;
                width: 47px;
                height: 48px;
              }
              .user-icon_game3 {
                background-position: -409px -266px;
                width: 47px;
                height: 48px;
              }
              .user-icon_game4 {
                background-position: -466px -116px;
                width: 47px;
                height: 48px;
              }
              .gameIXuanz {
                transform: rotate(180deg);
              }
              i {
                display: block;
                -webkit-transition: -webkit-transform 0.4s ease-out;
                -moz-transition: -moz-transform 0.4s ease-out;
                transition: transform 0.4s ease-out;
                position: absolute;
                z-index: 2;
                width: 94px;
                height: 94px;
                background: url("../image/gen.png") -64px -268px no-repeat;
                left: 50%;
                top: 50%;
                margin: -47px 0 0 -47px;
              }

              em {
                position: relative;
                z-index: 3;
                display: block;
                margin: 0 auto;
                top: 50%;
                margin-top: -24px;
              }
            }
          }
          li:nth-child(n + 3) {
            margin-bottom: 0px;
          }
        }
      }

      //视频
      .con-info {
        width: 1077px;
        height: 842px;
        //社区
        .community {
          background: #fff;
          width: 322px;
          padding: 0 20px;
          height: 413px;
          overflow: hidden;
          float: left;
          margin-right: 15px;
          .sq-top {
            padding-top: 20px;
            border-bottom: 1px solid #dfdfdf;
            .user-icon_cnity {
              background-position: -169px -410px;
              width: 147px;
              height: 17px;
            }
          }
          .sq-text {
            .sqList {
              margin-top: 20px;
              li {
                padding: 5px 0;
                a {
                  p {
                    width: 84%;
                    height: 21px;
                    font-size: 0.35em;
                    font-family: "微软雅黑";
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    transition: color 0.1s;
                  }
                  .sqHover {
                    color: #a69280;
                  }
                }
              }
            }
          }
          .sq-img {
            margin-top: 20px;
            border: 1px solid #000;
          }
        }
        //同人
        .district {
          width: (1077px-322-15);
          height: 413px;
          float: left;
          background: #fff;
          padding: 0 20px;
          .tr-top {
            padding-top: 20px;
            border-bottom: 1px solid #dfdfdf;
            .user-icon_tr {
              background-position: -194px -96px;
              width: 184px;
              height: 17px;
            }
          }
          .tr-nav {
            height: 60px;
            .tr-nav-z {
              li {
                float: left;
                width: 120px;
                text-align: center;
                a {
                  display: block;
                  // padding: 5px 20px;
                  span {
                    font-size: 0.38em;
                    transition: color 0.2s;
                  }
                  .navActive {
                    color: #a69280;
                  }
                  em {
                    margin-top: 32px;
                    width: 1px;
                    height: 13px;
                    background: #b3a293;
                    float: right;
                  }
                }
              }
            }
          }
          //图片列表
          .tr-imgTab {
            margin-top: 5px;
            height: 270px;
            .imgList {
              &:not(:first-child){
                display: none;
              }
              li {
                margin-right: 15px;
                margin-bottom: 15px;
                width: ((700px-30)/3);
                height: 128px;
                border: 1px solid #000;
                float: left;
                position: relative;
                &:nth-child(3n + 0) {
                  margin-right: 0;
                }
                &:hover {
                  a {
                    img {
                      transform: scale(1.1, 1.1);
                    }
                    p {
                      color: #cfa34c;
                    }
                    .back {
                      opacity: 0;
                    }
                    .user-icon_hh {
                      transform: scale(1, 1);
                      opacity: 1;
                    }
                  }
                }
                a {
                  height: 100%;
                  display: block;
                  .trImg {
                    height: 100%;
                    width: 100%;
                    transition: all 0.3s;
                    z-index: 2;
                    overflow: hidden;
                    img {
                      transition: transform 0.3s;
                    }
                  }
                  .back {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    transition: opacity 0.3s;
                    background: rgba($color: #000000, $alpha: 0.3);
                  }
                  p {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 24px;
                    font-size: 0.3em;
                    font-family: "微软雅黑";
                    color: #fff;
                    overflow: hidden;
                    padding: 0 10px;
                    line-height: 24px;
                    background: rgba($color: #000000, $alpha: 0.6);
                    z-index: 2;
                    transition: color 0.3s;
                  }
                  .user-icon_hh {
                    background-position: -466px -174px;
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-left: -15px;
                    margin-top: -15px;
                    transform: scale(1.5, 1.5);
                    transition: transform 0.3s;
                    z-index: 3;
                    opacity: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
    .contain:nth-child(4) {
      height: 1000px;
    }
  }
}

//图标
.user-icon {
  width: 18px;
  height: 18px;
  background: url("../image/Icon-all.png");
  display: inline-block;
}
//字体 hover
.fontActive {
  color: #a69280;
  transition: color 0.1s;
}
//透明
.opacity {
  opacity: 0;
}
.hide {
  opacity: 0;
  display: none;
}
//上移
.AmTop {
  transform: translateY(-20px);
}
//文字下面的横线
.underline {
  clear: both;
  height: 2px;
  border-bottom: 2px solid #a69280;
  width: 68px;
  padding-top: 18px;
  margin-bottom: -1px;
}
