/**
 * online三国杀
 * author:liukesen
 * data: 2019.5.7
 */

.warp {
    padding-top: 40px;
    width: 100%;
    height: auto;
    min-width: 1050px;
    max-width: 1920px;
    background: url("../image/back-home.jpg") top center no-repeat;

    .main {
        width: 100%;
        padding: 0 70px;

        .contain {
            display: -webkit-box;
            display: -ms-flexbox;
            margin: 250px 0 15px 0;
            height: 300px;

            .con-left {
                margin-right: 15px;

                .con-z-bottom {
                    padding: 15px;
                    text-align: center;
                    background: #fff;

                    .content-icon {
                        margin: 0 auto;
                        width: 120px;
                        height: 20px;
                        background-image: url("../image/Icon-all.png");
                        background-position: 290px 50px;
                        display: block;
                    }

                    .user-icon {
                        width: 18px;
                        height: 18px;
                        background-image: url("../image/Icon-all.png");
                        display: inline-block;
                    }

                    .register {
                        .user-icon {
                            background-position: -466px -359px;
                            -webkit-transition: margin-bottom .5s;
                            transition: margin-bottom .5s;

                            &:hover {
                                margin-bottom: 10px;
                            }
                        }
                    }

                    .xinSh {

                        .user-icon {
                            background-position: -466px -331px;
                            -webkit-transition: margin-bottom .5s;
                            transition: margin-bottom .5s;

                            &:hover {
                                margin-bottom: 10px;
                            }
                        }
                    }

                    a {
                        font-size: 1.2em;
                        font-weight: 1000;
                        font-family: "仿宋";
                        line-height: 50px;
                    }
                }


            }

            $conMid:740px;

            .con-mid {
                position: relative;
                width: $conMid;
                overflow: hidden;

                .lun-boNav {
                    left: 0;
                    width: $conMid*5;
                    height: 100%;
                    position: absolute;
                    -webkit-transition: left .5s;
                    transition: left .5s;

                    .lb-image {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                    }
                }

                .lb-page {
                    position: absolute;
                    bottom: 0;
                    width: $conMid;
                    height: 30px;
                    background-color: rgba($color: #000000, $alpha: .9);
                    z-index: 2;
                    cursor: pointer;

                    @function lbLiPain($i) {
                        @return (($i)-(56px*5))/10;
                    }
                    li {
                        float: left;
                        padding: 6px lbLiPain($conMid);
                        font-size: 14px;
                        color: #8c8c8c;;
                    }
                    .page-on{
                        background-color:rgba($color: #857366, $alpha: .9); 
                        color: #fff;
                        transition: background .3s;
                    }
                }
            }

            .con-right{
                margin-left: 15px;
                height: 100%;
                width: 25%;
                .c-r-bottom,.c-r-top{
                    height: (300px-15)/2;
                    a{
                        width: 100%;
                        height: 100%;
                        display: block;
                    }
                }
                .c-r-top{
                    margin-bottom: 15px;
                    background-image: url('../../assets/image/lb-left-t.jpg')
                }
                .c-r-bottom{
                    background-image: url('../../assets/image/lb-left-b.png')
                }
            }
        }
    }
}